

body {
    margin: 0;
}

.workspace{
  padding: 30px;
}

 #panel{
     border:2px solid rgb(34, 0, 255);
     background-color: rgb(185, 244, 247);
}


 #wlp{
  border-radius: 30px;
  /* padding: 20px; */
  width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(63, 40, 120, 0.2);
}

.link{

}

.link:hover #wlp{
  box-shadow: 0px 8px 16px 0px rgba(63, 40, 120, 0.2);
}
